version: '2'
services:
    postgres: 
        build: 
            context: .
            dockerfile: Dockerfile-psql
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_DB=shorturl
            - POSTGRES_PASSWORD=postgres
    short: 
        build: .
        ports:
            - "8000:8000"
        depends_on: 
            - postgres
