version: '2'
services: 
    short: 
        build: .
        ports:
            - "8000:8000"
        depends_on: 
            - postgres
    postgres: 
        build: 
            context: .
            dockerfile: Dockerfile-psql
        ports:
            - "5432:5432"
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: shorturl
            POSTGRES_USER: postgres
        networks: 
            api_net:
                ipv4_address: 172.28.1.4
        restart: always
    networks: 
        api_net:
            ipam: 
                driver: pg_default
                config: 
                    - subnet: 172.28.0.0/16
        